head
    style
        include style.css
        include bootstrap.min.css

nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
    a.navbar-brand(href='#') Bienvenue

    button.btn.btn-warning(type='register') S'inscrire


form(method='post', action='tryLogin', enctype='multipart/form-data')
    fieldset
        legend Se connecter
        .form-group.row
        .form-group
            label(for='exampleInputEmail1') Email address
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', placeholder='Enter email', name='nom')
            small#emailHelp.form-text.text-muted We'll never share your email with anyone else.

        .form-group
            label(for='exampleInputPassword1') Password
            input#exampleInputPassword1.form-control(type='password', placeholder='Password', name='pass')
            button.btn.btn-primary(type='submit') Submit