<head>
    <style>
        #myProgress {
            width: 100%;
            background-color: grey;
        }

        #myBar {
            width: 1%;
            height: 30px;
            background-color: orange;
        }
    </style>
</head><body>
<h1 id="result"></h1>
<canvas id="canvas" width="600" height="300" onclick="onclick_page(event);" style="border:1px solid black;">
    Le canvas ne s'affiche pas
</canvas>
<h1>Cliquez sur l'image correspondante</h1>
<h1 id="question"><%= question %></h1>
<div id="myProgress">
    <div id="myBar"></div>

</div>
<p id="oui"></p>
</body>
<script>
    console.log('oude');
    </script>