div(class="movie-card", id="oceans-11")
  h1(class="movie-title") Ocean's 11
  img(src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/123941/oceans11.jpg", class="movie-poster")
  ul(class="genre-list")
    li Comedie
    li Policier